html {
  height: 100%;
  width: 100%;
}

h1 {
  color: #b87723;
}

h3 {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
  color: green;
}
